.container_main{
    text-align: center;
    margin: 20px;
    padding: 20px;
}
.title_1{
    
    font-size: 90px;
    line-height: 1.5;
    font-weight: 600;
   
    width: 1200px;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 100px;
    
    
}
.sub_titulo, .sub_titulo2,.sub_titulo3,.sub_titulo4,.sub_titulo5,.sub_titulo6{
    margin: 0 auto;
    text-align: center;
    font-size: 45px;
    margin-bottom: 32px;
    color: black;
    font-weight: 600;
    line-height: 1.6;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    
}
.sub_titulo_sub,.sub_titulo2_sub,.sub_titulo3_sub{
    margin: 0 auto;
    text-align: center;
    font-size: 45px;
    font-weight: 500;
}
.paragrafo,.paragrafo2,.paragrafo3,.paragrafo4,.paragrafo5,.paragrafo6,.paragrafo7,.paragrafo8,.paragrafo9,.paragrafo10{
    color: #545454;
    
    line-height: 1.5;
    font-size: 30px;
    margin: 0 auto;
    overflow-wrap: break-word;
    margin-bottom: 60px;
    text-align:left;

    width: 1200px;
}