body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #CBCBCB;
    padding: 10px;
    text-align: center;
    min-width: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header {
    display: flex;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    gap: 18.522px;
    flex-shrink: 0;
}

nav h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

nav li {
    margin-right: 10px;
    cursor: pointer;
    color: #000;
}

nav li a {
    text-decoration: none;
    color: #000;
}

main {
    flex-grow: 1;
    min-width: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

main a{
    text-decoration: none;
}

.card {
    display: flex;
    background: #d9d9d93a;
    width: 80%;
    border-radius: 10px;
    margin-bottom: 2%;
}

.card .image {
    width: 365px;
    height: 262px;
    background-image: url("/img/Imagen_automacao.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.card .image2 {
    width: 365px;
    height: 262px;
    background-image: url("/img/Imagen_automacao2.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.card .image3 {
    width: 365px;
    height: 262px;
    background-image: url("/img//image_9d762407a3f05b02a9e9f606f27ee385_2000.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.card .image4 {
    width: 365px;
    height: 262px;
    background-image: url("/img/Imagen_automacao3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.card .image5 {
    width: 365px;
    height: 262px;
    background-image: url("/img/automacao-de-processos.webp");
    background-repeat: no-repeat;
    background-size: cover;
}




.card .referencias{
    margin-left: 3%;
}

.card .referencias h6{
    font-size: 26px;
    color: #000;
}

.card .referencias p{
    margin-top: -5%;
    font-size: 18px;
    color: #000;
}

footer {
    background-color: #CBCBCB;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    min-width: 100vh;
}

.footer .images div {
    display: flex;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    gap: 18.522px;
    flex-shrink: 0;
}

.footer .images {
    display: flex;
    width: 100%;
    height: 100%;
    padding-right: 0px;
    gap: 38.813px;
    flex-shrink: 0;
    margin-left: -125%;
}

.footer .texts {
    color: #000;
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
    margin-left: 170%;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

footer li {
    margin-right: 10px;
    cursor: pointer;
    color: #000;
}
